<%
    ui.decorateWith("botswanaemr", "botswanaStandardEmrPage")
%>

<script type="text/javascript">
    var breadcrumbs = [
        { icon: "icon-home", link: '/' + OPENMRS_CONTEXT_PATH + '/botswanaemr/stock/stockManagementDashboard.page'},
        { label: "configuration", link: '/' + OPENMRS_CONTEXT_PATH + '/botswanaemr/stock/configuration.page'},
        { label: "Categories"}
    ];
</script>

<div class="row">
    <div class="col">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 pl-0 pr-0">
                <div class="card mt-4">
                    <div class="card-header mb-4">
                        <button class="btn btn-outline btn-primary mt-1 float-right" onclick="history.back()">Back</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            ${ ui.includeFragment("botswanaemr", "stock/categories")}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
