.discussion-card-header {
    border-radius: 5px 5px 0 0 !important;
    border-bottom: 0 !important;
    display: inline-block;
}

.discussion-card-body {
    padding-top: 28px;
}

.message-head {
    position: relative;
}

.discussion-info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

.discussion-card {
    height: 500px;
    border-radius: 5px !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.discussion-card-footer {
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
}

.send_button {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.message-container {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    margin-left: 80px;
    border-radius: 5px;
    background-color: #78e08f;
    padding: 10px;
    position: relative;
    width: 100%;
}

.message-time {
    position: absolute;
    left: 0;
    top: -15px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 10px;
}

.message-container-send {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
    width: 100%;
}

.message-card-body {
    overflow-y: auto;
}

.type-message {
    background-color: rgba(211, 211, 211, 0.6) !important;
    /*border: 0 !important;*/
    /*color: white !important;*/
    height: auto;
    width: auto;
    box-sizing: border-box;
    overflow-y: auto;
    border-radius: 5px;
}

.lettered-circle {
    background: #0099CC;
    color: #ffffff;
    padding: 5px 20px;
    border-radius: 5%;
    font-size: 35px;
}

.grey-background {
    background-color: rgba(211, 211, 211, 0.1);
}

.discussion-footer {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.discussion-title {
    background-color: rgba(211, 211, 211, 0);;
}

.new-message-box {
    margin-left: 20px;
    margin-right: 20px;
}

#discussion-init {
    display: inline-block;
}

#participants-title {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
}

#participant-select {
    display: inline;
    min-width: 70%;
    padding: 7px 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.left-margin {
    margin-left: 20px;
    margin-right: 20px;
}

#participant-add {
    float: right;
}

.remove-participant {
    border: 1px solid #0099CC;
    padding: 0px 8px;
}

.remove-participant:hover {
    background: #0099CC;
    color: white !important;
}