:root {
    --nav-icon-width: 50px !important;
    --nav-border-width: 8px !important;
}

html,
body {
    height: 100%;
    margin: 0;
}

.page-container {
    height: inherit;
    display: flex;
}

.main {
    height: inherit;
    padding: 0;
    padding-left: var(--nav-border-width);
    overflow-y: auto;
}

#sidebar .nav {
    width: 250px !important;
    height: inherit;
    position: relative;
    transition: width 0.2s;
    color: #fff !important;
    background-color: #000000 !important;
    flex-shrink: 0;
}

.nav_collapsed {
    width: 50px;
    color: #fff;
    !important;
    background-color: #000000 !important;
}

.nav_collapsed .nav_label {
    display: none;
}

.nav_link {
    display: flex !important;
    align-items: center !important;
    text-decoration: none !important;
}

.nav_link:hover {
    color: #ffffff;
    background-color: #0099CC !important;
}

.nav_icon_container {
    width: var(--nav-icon-width);
    height: var(--nav-icon-width);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.nav_label {
    white-space: nowrap;
}

.fa-1x {
    font-size: 24px;
}

.bg-black {
    background: #000000;
    color: #ffffff;
    fill: #000000;
}

.sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #0099CC;
}

.collapsible-content {
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapsible-button {
    cursor: pointer;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

#card-footer-stock {
    height: 63px;
}

.update-stock-room-btn,
.add-stock-room-btn {
    position: relative;
    top: -5px;
}

.patient-search-result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.patient-identifier,
.preferred-name,
.age,
.birthdate,
.gender,
.dob-label {
    margin-right: 15px;
    white-space: nowrap;
}

.badge {
    margin-left: auto;
}

@media (max-width: 768px) {
    .patient-search-result {
        flex-direction: column;
        align-items: flex-start;
    }
    .badge {
        align-self: flex-end;
    }
    .patient-identifier,
    .preferred-name,
    .age,
    .birthdate,
    .gender,
    .dob-label {
        margin-right: 0;
        margin-bottom: 5px;
    }
    .proceed-link {
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .patient-identifier,
    .preferred-name,
    .age,
    .birthdate,
    .gender,
    .dob-label {
        font-size: 14px;
    }
}

.highlighted-name {
    background-color: yellow;
    font-weight: bold;
}

#inactivityModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10000;
}

.modal-content {
    text-align: center;
}

button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}