/* Hide all steps by default: */
.form-tab {
    display: none;
}

.step-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    pointer-events: none;
}

.step-nav > li {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    pointer-events: none;
}

.step-nav > a {
    pointer-events: none;
}

.step-container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

a.active {
    border-bottom: 3px solid #0099CC;
}

a.finish {
    border-bottom: 3px solid #04AA6D;
}

.center-section {
    margin: auto;
}

.p-margin {
    margin-bottom: 0.5rem;
}

.card-overlay {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: #000;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}
.spinner-img {
    height: 100px;
    background: transparent;
    opacity: 1;
}