/*
    SIDEBAR
*/

a, a:focus {
    color: inherit !important;
    text-decoration: none !important;
    transition: all 0.3s !important;
}

.navbar {
    padding: 10px 5px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px !important;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
    perspective: 1500px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -215px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 10px;
    background: #000000;
}

#sidebar ul.components {
    padding: 10px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 5px;
    color: #ffffff;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #ffffff;
    background: #0099CC;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #0099CC;
}

a[data-toggle="collapse"] {
    position: relative;
}

ul ul a {
    font-size: 0.9em !important;
    cursor: pointer !important;
    color: #0099CC !important;
    padding: 3px !important;
    background: #ffffff !important;
    border: 2px solid #ffffff !important;
    border-radius: 5px;
}

ul ul a:hover {
    active: false;
    color: #0099CC !important;
}

ul.select li {
    color: #000000 !important;
    border-bottom: 1px solid #0099CC !important;
}

ul.select li:hover {
    background: #0099CC !important;
    color: #ffffff !important;
}

ul.select li.selected {
    background: #0099CC !important;
    color: #ffffff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding:0px;
    width: 100% !important;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 32px;
    height: 32px;
    background: #0099CC !important;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 568px) {
  #sidebar {
    display: none;
  }
}

