/* Wizard Base Styles */
.sw {
    position: relative;
}

.sw *,
.sw *::before,
.sw *::after {
    box-sizing: border-box;
}

.sw > .tab-content {
    position: relative;
    width: 100% !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

.sw .toolbar {
    padding: 0rem;
}

.sw .toolbar > .btn {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: none;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: .2rem;
    margin-right: .2rem;
    cursor: pointer;
}

.sw .toolbar > .btn.disabled, .sw .toolbar > .btn:disabled {
    opacity: .65;
}

.sw > .nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 640px) {
    .sw > .nav {
        flex-direction: column !important;
        flex: 1 auto;
    }
}

.sw > .nav .nav-link {
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
}

.sw > .nav .nav-link:hover, .sw > .nav .nav-link:active, .sw > .nav .nav-link:focus {
    text-decoration: none;
}

.sw > .nav .nav-link::-moz-focus-inner {
    border: 0 !important;
}

.sw > .nav .nav-link.disabled {
    color: #ccc !important;
    pointer-events: none;
    cursor: default;
}

.sw > .nav .nav-link.hidden {
    display: none !important;
}

.sw.sw-justified > .nav > li, .sw.sw-justified > .nav .nav-link {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
}

.sw.sw-dark {
    color: rgba(255, 255, 255, 0.95);
    background: #000;
}

.sw.sw-loading {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sw.sw-loading::after {
    content: "";
    display: block;
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    z-index: 2;
    transition: all .2s ease;
}

.sw.sw-loading::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 45%;
    left: 45%;
    width: 2rem;
    height: 2rem;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    z-index: 10;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* SmartWizard Theme: Default */
.sw-theme-default {
    border: 1px solid #eeeeee;
}

.sw-theme-default > .tab-content > .tab-pane {
    padding: 10px;
}

.sw-theme-default .toolbar > .btn {
    color: #fff;
    background-color: #0099CC ;
    border: 1px solid #0099CC ;
    padding: .375rem .75rem;
    border-radius: .25rem;
    font-weight: 400;
}

.sw-theme-default > .nav {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1) !important;
}

.sw-theme-default > .nav .nav-link {
    position: relative;
    height: 100%;
    min-height: 100%;
}

.sw-theme-default > .nav .nav-link::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    left: 0px;
    bottom: -1px;
    background: #999999;
    transition: all .35s ease .15s;
}

.sw-theme-default > .nav .nav-link.inactive {
    color: #999999;
    cursor: not-allowed;
}

.sw-theme-default > .nav .nav-link.active {
    color: #0099CC  !important;
    cursor: pointer;
}

.sw-theme-default > .nav .nav-link.active::after {
    background: #0099CC  !important;
    width: 100%;
}

.sw-theme-default > .nav .nav-link.done {
    color: #5cb85c !important;
    cursor: pointer;
}

.sw-theme-default > .nav .nav-link.done::after {
    background: #5cb85c;
    width: 100%;
}

.sw-theme-default > .nav .nav-link.disabled {
    color: #dddddd !important;
    cursor: not-allowed;
}

.sw-theme-default > .nav .nav-link.disabled::after {
    background: #dddddd;
    width: 100%;
}

.sw-theme-default > .nav .nav-link.danger {
    color: #d9534f !important;
    cursor: pointer;
}

.sw-theme-default > .nav .nav-link.danger::after {
    background: #d9534f;
    width: 100%;
}

/* SmartWizard Theme: Arrows */
.sw-theme-arrows {
    border: 1px solid #eeeeee;
}

.sw-theme-arrows > .tab-content > .tab-pane {
    padding: 10px;
}

.sw-theme-arrows .toolbar > .btn {
    color: #ffffff;
    background-color: #0099CC ;
    border: 1px solid #0099CC ;
    padding: .375rem .75rem;
    border-radius: .25rem;
    font-weight: 400;
}

.sw-theme-arrows > .nav {
    overflow: hidden;
    border-bottom: 1px solid #eeeeee;
}

.sw-theme-arrows > .nav .nav-link {
    position: relative;
    height: 100%;
    min-height: 100%;
    margin-right: 30px;
    margin-left: -30px;
    padding-left: 40px;
}

@media screen and (max-width: 640px) {
    .sw-theme-arrows > .nav .nav-link {
        overflow: hidden;
        margin-bottom: 1px;
        margin-right: unset;
    }
}

.sw-theme-arrows > .nav .nav-link::after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    top: 50%;
    left: 100%;
    margin-top: -50px;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #f8f8f8;
    z-index: 2;
}

.sw-theme-arrows > .nav .nav-link::before {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    top: 50%;
    left: 100%;
    margin-top: -50px;
    margin-left: 1px;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #eeeeee;
    z-index: 1;
}

.sw-theme-arrows > .nav .nav-link.inactive {
    color: #999999;
    border-color: #f8f8f8;
    background: #f8f8f8;
    cursor: not-allowed;
}

.sw-theme-arrows > .nav .nav-link.active {
    color: #ffffff;
    border-color: #5bc0de;
    background: #5bc0de;
    cursor: pointer;
}

.sw-theme-arrows > .nav .nav-link.active::after {
    border-left-color: #5bc0de;
}

.sw-theme-arrows > .nav .nav-link.done {
    color: #ffffff;
    border-color: #5cb85c;
    background: #5cb85c;
    cursor: pointer;
}

.sw-theme-arrows > .nav .nav-link.done::after {
    border-left-color: #5cb85c;
}

.sw-theme-arrows > .nav .nav-link.disabled {
    color: #eeeeee;
    border-color: #f9f9f9;
    background: #f9f9f9;
    cursor: not-allowed;
}

.sw-theme-arrows > .nav .nav-link.disabled::after {
    border-left-color: #f9f9f9;
}

.sw-theme-arrows > .nav .nav-link.danger {
    color: #ffffff;
    border-color: #d9534f;
    background: #d9534f;
    cursor: pointer;
}

.sw-theme-arrows > .nav .nav-link.danger::after {
    border-left-color: #d9534f;
}

.sw-theme-arrows.sw-dark {
    color: rgba(255, 255, 255, 0.95);
    background: #000;
}

.sw-theme-arrows.sw-dark > .nav {
    border-bottom: 1px solid #555555;
}

.sw-theme-arrows.sw-dark > .nav .nav-link::after {
    border-left: 30px solid #5f5f5f;
}

.sw-theme-arrows.sw-dark > .nav .nav-link::before {
    border-left: 30px solid #555555;
}

.sw-theme-arrows.sw-dark > .nav .nav-link.inactive {
    color: white;
    border-color: #5f5f5f;
    background: #5f5f5f;
}

.sw-theme-arrows.sw-dark > .nav .nav-link.inactive::after {
    border-left-color: #5f5f5f;
}

.sw-theme-arrows.sw-dark > .nav .nav-link.active {
    color: white;
    border-color: #010506;
    background: #0a2730;
}

.sw-theme-arrows.sw-dark > .nav .nav-link.active::after {
    border-left-color: #0a2730;
}

.sw-theme-arrows.sw-dark > .nav .nav-link.done {
    color: white;
    border-color: black;
    background: black;
}

.sw-theme-arrows.sw-dark > .nav .nav-link.done::after {
    border-left-color: black;
}

.sw-theme-arrows.sw-dark > .nav .nav-link.disabled {
    color: #555555 !important;
    border-color: #f9f9f9;
    background: #474747;
}

.sw-theme-arrows.sw-dark > .nav .nav-link.disabled::after {
    border-left-color: #474747;
}

.sw-theme-arrows.sw-dark > .nav .nav-link.danger {
    color: #ffffff;
    border-color: #d9534f;
    background: #d9534f;
}

.sw-theme-arrows.sw-dark > .nav .nav-link.danger::after {
    border-left-color: #d9534f;
}

/* SmartWizard Theme: Dots */
.sw-theme-dots > .tab-content > .tab-pane {
    padding: 10px;
}

.sw-theme-dots .toolbar > .btn {
    color: #ffffff;
    background-color: #0099CC ;
    border: 1px solid #0099CC ;
    padding: .375rem .75rem;
    border-radius: .25rem;
    font-weight: 400;
}

.sw-theme-dots .toolbar > .btn-success {
    color: #ffffff;
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}

.sw-theme-dots .toolbar > .btn-danger {
    color: #ffffff;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.sw-theme-dots > .nav {
    position: relative;
    margin-bottom: 10px;
}

.sw-theme-dots > .nav::before {
    content: " ";
    position: absolute;
    top: 18px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #eeeeee;
    border-radius: 3px;
    z-index: 1;
}

.sw-theme-dots > .nav .nav-link {
    position: relative;
    margin-top: 40px;
}

.sw-theme-dots > .nav .nav-link::before {
    content: " ";
    position: absolute;
    display: block;
    top: -36px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background: #f5f5f5;
    color: #428bca;
    text-decoration: none;
    z-index: 98;
}

.sw-theme-dots > .nav .nav-link::after {
    content: " ";
    position: absolute;
    display: block;
    top: -28px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    z-index: 99;
}

.sw-theme-dots > .nav .nav-link.inactive {
    color: #999999;
    cursor: not-allowed;
}

.sw-theme-dots > .nav .nav-link.inactive::after {
    background-color: #999999;
}

.sw-theme-dots > .nav .nav-link.active {
    color: #5bc0de !important;
    cursor: pointer;
}

.sw-theme-dots > .nav .nav-link.active::after {
    background-color: #5bc0de !important;
}

.sw-theme-dots > .nav .nav-link.done {
    color: #5cb85c;
    cursor: pointer;
}

.sw-theme-dots > .nav .nav-link.done::after {
    background-color: #5cb85c;
}

.sw-theme-dots > .nav .nav-link.disabled {
    color: #f9f9f9;
    cursor: not-allowed;
}

.sw-theme-dots > .nav .nav-link.disabled::after {
    background-color: #f9f9f9;
}

.sw-theme-dots > .nav .nav-link.danger {
    color: #d9534f;
    cursor: pointer;
}

.sw-theme-dots > .nav .nav-link.danger::after {
    background-color: #d9534f;
}

.sw-theme-dots.sw-dark {
    color: rgba(255, 255, 255, 0.95);
    background: #000;
}

.sw-theme-dots.sw-dark > .nav::before {
    background-color: #3c3c3c;
}

.sw-theme-dots.sw-dark > .nav .nav-link::before {
    background: #434343;
    color: black;
}

/* SmartWizard Theme: Progress */
.sw-theme-progress {
    border: 1px solid #eeeeee;
}

.sw-theme-progress > .tab-content > .tab-pane {
    padding: 10px;
}

.sw-theme-progress .toolbar > .btn {
    color: #ffffff;
    background-color: #0099CC ;
    border: 1px solid #0099CC ;
    padding: .375rem .75rem;
    border-radius: .25rem;
    font-weight: 400;
}

.sw-theme-progress > .nav {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1) !important;
}

.sw-theme-progress > .nav .nav-link {
    position: relative;
    height: 100%;
    min-height: 100%;
    background: transparent;
    overflow: hidden;
    z-index: 2;
}

.sw-theme-progress > .nav .nav-link::after {
    content: "";
    position: absolute;
    height: 150%;
    width: 0;
    left: 0;
    top: 0;
    background: #ffffff;
    z-index: -1;
    transition: all .35s ease .10s;
}

.sw-theme-progress > .nav .nav-link.inactive {
    color: #999999;
    cursor: not-allowed;
}

.sw-theme-progress > .nav .nav-link.active {
    color: #ffffff !important;
    cursor: pointer;
}

.sw-theme-progress > .nav .nav-link.active::after {
    background-color: #5cb85c;
    width: 100%;
}

.sw-theme-progress > .nav .nav-link.done {
    color: #ffffff !important;
    cursor: pointer;
}

.sw-theme-progress > .nav .nav-link.done::after {
    background: #5cb85c;
    width: 100%;
}

.sw-theme-progress > .nav .nav-link.disabled {
    color: #dddddd !important;
    cursor: not-allowed;
}

.sw-theme-progress > .nav .nav-link.disabled::after {
    background: #f9f9f9;
    width: 100%;
}

.sw-theme-progress > .nav .nav-link.danger {
    color: #ffffff !important;
    cursor: pointer;
}

.sw-theme-progress > .nav .nav-link.danger::after {
    background: #d9534f;
    width: 100%;
}

.sw-theme-progress.sw-dark {
    color: rgba(255, 255, 255, 0.95);
}

.sw-theme-progress.sw-dark > .nav .nav-link.active {
    color: white;
}

.sw-theme-progress.sw-dark > .nav .nav-link.active::after {
    background-color: #333;
}

.sw-theme-progress.sw-dark > .nav .nav-link.done {
    color: #ffffff !important;
}

.sw-theme-progress.sw-dark > .nav .nav-link.done::after {
    background: #333;
}

.sw-theme-progress.sw-dark > .nav .nav-link.disabled {
    color: #2b2b2b !important;
}

.sw-theme-progress.sw-dark > .nav .nav-link.disabled::after {
    background: #474747;
}

.sw-theme-progress.sw-dark > .nav .nav-link.danger {
    color: #ffffff !important;
}

.sw-theme-progress.sw-dark > .nav .nav-link.danger::after {
    background: #d9534f;
}
